<div class="container card mt-3 p-3">
    <div class="card-header">
        <h2>Venkatesh Choppella</h2>
    </div>
    <div class="card-body">
        <div class="grid_9 personal_page">
                <img src="https://serc.iiit.ac.in/static/images/people/Venkatesh_Choppella.jpg" alt="">
                <h3>About</h3>
                <hr>
                <p>Venkatesh Choppella is Associate Professor at the International Institute of Information Technology Hyderabad, India. He was also associated with Indian Institute of Information Technology and Management – Kerala, Trivandrum, and is currently adjunct faculty at IIIT Bangalore.</p>

<p>He has held research and engineering positions in Hewlett Packard, Xerox Palo Alto Research Centre, Oak Ridge National Laboratory, and the Ohio State University in the United States. He holds a PhD. degree in Computer Science from Indiana University, Bloomington, USA, and Bachelors and Masters degrees from the Indian Institutes of Technology, Kanpur and Madras, respectively.</p>

<p>Venkatesh's current research interests are in formal methods and software architectures. In addition, he has an interest in computer science education and FOSS-based educational technology. He has published over 40 research papers and technical reports in the area of automated deduction, type systems, formal methods, and compilers for high performance computing. He holds one US patent.</p>
                <hr class="small_margins">
            
            
                <h3>Research Interests</h3>
                <ul>
<li>Programming Languages</li>
<li>S/W Architectures</li>
<li>Formal Methods</li>
<li>CS Education</li>
</ul>
                <hr class="small_margins">
            
        </div>
        <div class="grid_3">
        <div class="row">
            <div class="grid_3 wow fadeInRight image_personal animated" style="visibility: visible; animation-name: fadeInRight;"></div>
            <div class="grid_3 wow fadeInRight social_personal animated" style="visibility: visible; animation-name: fadeInRight;">
                <div>
                    
                    <b>Ph.D., Indiana University, Bloomington</b>
                    <br>
                    
                    
                    <a class="p-3" href="http://pascal.iiit.ac.in/~choppell/biography/index.html" rel="nofollow" target="_blank" title="Personal website"><i class="fa fa-globe" title="Personal website"></i></a>
                    
                    
                        <a class="p-3" href="mailto:venkatesh.choppella@iiit.ac.in" title="Email"><i class="fa fa-envelope-o" title="Email"></i></a>
                    
                    
                    <a href="tel:+914066531443" title="Telephone"><i class="fa fa-phone" title="Telephone"></i></a>
                    
                </div>
            </div>
        </div>
        </div>
    </div>
</div>