<div class="container card mt-3 p-3">
    <div class="card-header">
        <h2>Viswanath Kasturi</h2>
    </div>
    <div class="card-body">
        <div class="grid_9 personal_page">
            <img src="https://serc.iiit.ac.in/static/images/people/Viswanath_Kasturi_bGLSrXt.JPG" alt="">
            <h3>About</h3>
            <hr>
            
                <h3>Research Interests</h3>
                <ul>
<li>Mathematical Computer Science</li>
<li>Pedagogical issues</li>
</ul>
                <hr class="small_margins">
            
        </div>
        <div class="grid_3">
        <div class="row">
            <div class="grid_3 wow fadeInRight image_personal animated" style="visibility: visible; animation-name: fadeInRight;"></div>
            <div class="grid_3 wow fadeInRight social_personal animated" style="visibility: visible; animation-name: fadeInRight;">
                <div>
                    
                    <b>Ph.D., Indian Statistical Institute, Kolkata</b>
                    <br>
                    
                    
                    <a  class="p-3"href="http://mathcs101.blogspot.in/" rel="nofollow" target="_blank" title="Personal website"><i class="fa fa-globe" title="Personal website"></i></a>
                    
                    
                        <a class="p-3" href="mailto:k.viswanath@iiit.ac.in" title="Email"><i class="fa fa-envelope-o" title="Email"></i></a>
                    
                    
                </div>
            </div>
        </div>
        </div>
    </div>
</div>