<div class="container">
    <h1>Courses offered at IIIT Hyderabad</h1>
    <div class="card p-3">
        <table class="table" id="tab">
            <thead>
                <tr>
                    <th scope="col">Course</th>
                    <th scope="col">Brief Description</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row">
                    <td>Software Engineering</td>
                    <td>To develop in-depth understanding of software engineering principles, practices and ability to apply them in developing large scale software systems.</td>
                </tr>
                <tr scope="row">
                    <td>Software Systems Analsis and Design</td>
                    <td>Provides an introduction to software engineering concepts and techniques to undergraduate students. Enables the students to work in smaller teams and deliver software systems.</td>
                </tr>
                <tr scope="row">
                    <td>Software Foundations</td>
                    <td>Provides mathematical foundations of programs and software systems so as to be able to prove properties about their behaviour.</td>
                </tr>
                <tr scope="row">
                    <td>Software Quality Engineering</td>
                    <td>Imparts quality analyses of software systems. Topics include verification, software quality assurance, standards, etc. Concepts and skills necessary to design and and validation, metrics and measurements are also part of the curriculum.</td>
                </tr>
                <tr scope="row">
                    <td>Internals of Application Servers</td>
                    <td>Understand essence of middleware and distributed object technology. J2EE Technology and Architecture overview. J2EE App Server architecture. Life cycle of a J2EE application-deployment through running and deployment.</td>
                </tr>
                <tr scope="row">
                    <td>Principles of Programming Languages</td>
                    <td>This course is an introduction to the principles behind the design of programming languages, including object-oriented programming, and the use of formal methods in reasoning with programs. During the course, students build a series of interpreters, each a mini abstract or virtual machine for a specific language.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>