<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted">© Software Engineering Research Center, IIIT-Hyderabad.</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="https://twitter.com/SERC_IIITH" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="https://in.linkedin.com/company/serciiith" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/SERC.IIITH/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>
        </ul>
    </footer>
</div>