<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img id="iiitimg" class="navbar-brand" src="https://www.iiit.ac.in/img/iiit-new.png" class="img-fluid" alt="">
      <a class="navbar-brand" href="#">SERC IIITH</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#" routerLink="/home" routerLinkActive="active">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">People</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Faculty</a>
              <a class="dropdown-item" href="#">PhD Students</a>
              <a class="dropdown-item" href="#">MS Students</a>
              <a class="dropdown-item" href="#">B. Tech Students</a>
              <a class="dropdown-item" href="#">Project Interns</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/focusarea" routerLinkActive="active">Focus Area</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>