<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img id="iiitimg" class="navbar-brand" src="https://www.iiit.ac.in/img/iiit-new.png" class="img-fluid" alt="">
      <a class="navbar-brand" href="#">Software Engineering Research Centre</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home" routerLinkActive="active">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">People</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/people/faculty" routerLinkActive="active" >Faculty</a>
              <a class="dropdown-item" routerLink="/people/phd-students" routerLinkActive="active">PhD Students</a>
              <a class="dropdown-item" routerLink="/people/ms-students" routerLinkActive="active">MS Students</a>
              <a class="dropdown-item" routerLink="/people/btech-students" routerLinkActive="active">B. Tech Students</a>
              <a class="dropdown-item" routerLink="/people/project-interns" routerLinkActive="active">Project Interns</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/publications" routerLinkActive="active">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/focusarea" routerLinkActive="active">Focus Area</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/resources/projects" routerLinkActive="active" >Projects</a>
              <a class="dropdown-item" routerLink="/resources/teaching" routerLinkActive="active">Teaching</a>
              <a class="dropdown-item" routerLink="/resources/downloads" routerLinkActive="active">Downloads</a>
              <a class="dropdown-item" routerLink="/resources/demos" routerLinkActive="active">Demos</a>
              <a class="dropdown-item" routerLink="/resources/dataset" routerLinkActive="active">Dataset</a>
              <a class="dropdown-item" routerLink="/resources/posters" routerLinkActive="active">Posters</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>