<div class="container card p-3 mt-2">
    <div class="card-header">
        <h2>Raghu Reddy</h2>
    </div>
    <div class="card-body">
        <div class="container mb-3">
            <img src="https://serc.iiit.ac.in/static/images/people/6.jpg" alt="">
        </div>
        <div class="grid_9 personal_page">
            
            <h3>About</h3>
            <hr>
            <p>Dr. Y. Raghu Reddy works as an Associate Professor at International Institute of Information Technology, Hyderabad, India. His specialization is in Software Engineering.  His primary research interests are in design and construction of complex software systems. He has published number of peer reviewed publications in these areas. He has also published a book titled: Aspect oriented software development: An approach to composing UML design models in 2009. He is a part of several national and international conference committees. </p>
            
            <p>He is Currently the Head of the Software Engineering Research Center (SERC) at IIIT-Hyderabad and the CA Technologies Endowed Faculty Chair at IIIT Hyderabad. He was previously the IIIT lead for CA Technologies - IIIT Hyderabad Innovation Center established at CA Technologies, Gachibowli, Hyderabad.</p>
            
            <p>In his previous life, Dr. Reddy worked as an Assistant professor with the Department of Software Engineering at Rochester Institute of Technology (RIT), USA. He played a major role in building the Software Engineering Master’s program at RIT. He developed and taught courses at the undergraduate and graduate level. Earlier, he worked as an Instructor at Colorado State University. He obtained his Ph.D. in Computer Science from Colorado State University, Fort Collins, USA.</p>
            
            <p>During his tenure as a researcher he has worked on projects with MHRD, CA Technologies, Nokia Inc., Alstom Signaling Inc., TCN Telecom Consulting Group, QWest Communications, etc. </p>
            <hr class="small_margins">
            
            
            <h3>Research Interests</h3>
            <ul>
                <li>Model Driven Development</li>
                <li>Software Requirements and Architecture</li>
                <li>Verification &amp; Validation</li>
                <li>Usability and Software engineering education</li>
            </ul>
            <hr class="small_margins">
            
        </div>
        <div class="card-body">
            <div class="row">
                <div>
                    
                    <b>Ph.D., Colorado Sate University</b>
                    <br>
                    
                    
                    <a class="p-3" class="col" href="http://faculty.iiit.ac.in/~raghu.reddy/" rel="nofollow" target="_blank" title="Personal website"><i class="fa fa-globe" title="Personal website"></i></a>
                    
                    <a class="p-3" href="mailto:raghu.reddy@iiit.ac.in" title="Email"><i class="fa fa-envelope-o" title="Email"></i></a>
                    
                    
                    <a href="tel:+914066531488;ext:1488" title="Telephone"><i class="fa fa-phone" title="Telephone"></i></a>
                    
                </div>
            </div>
        </div>
    </div>
</div>