<div class="container card mt-3 p-3">
    <h2>Faculties</h2>
    <br>
    <ul class="heroes">
        <li *ngFor="let f of faculties">
          <a routerLink="/detail/{{f.id}}">
            <span class="badge">{{f.id}}</span> {{f.name}}
          </a>
          <button class="btn btn-dark rounded-circle" title="del"
            (click)="delete(f)">x</button>
        </li>
    </ul>
</div>
<div class="container card mt-3 p-3">
  <h2>MASTER EDIT: Edit Everything</h2>
<button class="btn btn-primary m-2" (click)="onEdit()">Edit Everything</button>
<button class="btn btn-dark m-2" (click)="onStopEdit()">Stop Editing</button>
</div>