<div class="container card mt-3 p-3">
    <div>
        <h1 class="card-header">About</h1>
    </div>
    <div class="card-body">
        <p>Software Engineering Research Center(SERC) has a eminent faculty with
            vast teaching and research experience in and outside India. Some of the key focus areas:
        </p>
            <ul>
                <li>Empirical Research and Process Improvement</li>
                <li>Formal Methods in Software Engineering</li>
                <li>Requirements Engineering and Quality Attributes</li>
                <li>Complex System Development</li>
                <li>Cloud Computing</li>
                <li>Education Technologies</li>
                <li>Usability Engineering</li>
            </ul>
            <br>
            <p>SERC has close collaboration with industry providing software services to large organizations, R&D labs of various organizations and other academic institutes (India and abroad).  Organizations that SERC is working are diverse, stratified across banking and finance, government, equipment manufacture, ISVs building products for software industry, etc. </p>
            <p>The faculty at SERC is a good mix of academicians with research orientation and industry stalwarts with deep research interest thus bringing applied and fundamental research together. The center has a good mix of MS and PhD students from academics and industry applying research methods  for industry problems and vice-versa. The researchers have access to real world data and practioneers to validate the model and guide in the research.</p>
    </div>               
</div>