<div class="container card p-3 mt-3">
    <div class="card-header">
        <h2>Vasudeva Varma</h2>
    </div>
    <div class="card-body">
        <div class="grid_9 personal_page">
            <img src="https://serc.iiit.ac.in/static/images/people/DSC_0320.jpg" alt="">
            <h3>About</h3>
            <hr>
            <p>Vasudeva Varma is a Professor and the Dean (Research) at IIIT Hyderabad. His research interests include search (information retrieval), information extraction, information access, cloud computing and software engineering. He heads the Search and Information Extraction Lab at IIIT Hyderabad. 
                He is the CEO of IIIT Hyderabad Foundation, which runs one of the largest technology incubators in India. The Foundation manages IIIT-H’s IP and technology transfers.</p>
                
                <p>He published a book on Software Architecture (Pearson Education) and close to two hundred technical papers in journals and conferences. In 2004, he obtained young scientist award and grant from Department of Science and Technology, Government of India, for his proposal on personalized search engines. In 2007, he was given Research Faculty Award by AOL Labs.</p>
                <p>He co-founded SETU Software Systems Pvt Ltd, a technology start-up along with Dr. Prasad Pingali (Vasu’s first PhD student) which is focused on solving information access problems using unstructured data analytics. </p>
                <p>He was visiting professor at UPV, Valencia, Spain (Summer 2007), UBO, Bretagne, France (Summer 2009) and Language Technologies Institute, CMU, Pittsburgh, USA (Summer 2010)</p>
                He obtained his Ph.D. from the Department of Computer and Information Sciences, University of Hyderabad in 1996. Prior to joining IIIT Hyderabad in 2002, he was the president of MediaCognition India Pvt. Ltd and Chief Architect at MediaCognition Inc. (Cupertino, CA). Earlier he was the director of Engineering and research at InfoDream Corporation, Santa Clara, CA. He also worked for Citicorp and Muze Inc. in New York as senior consultant.<p></p>
                <hr class="small_margins">
                
                
                <h3>Research Interests</h3>
                <ul>
                    <li>Information Retrieval</li>
                    <li>Social Media Analysis</li>
                    <li>Semantic Search</li>
                    <li>Cloud Computing and Software Engineering</li>
                </ul>
                <hr class="small_margins">
                
            </div>
            <div class="grid_3">
                <div class="row">
                    <div class="grid_3 wow fadeInRight image_personal animated" style="visibility: visible; animation-name: fadeInRight;"></div>
                    <div class="grid_3 wow fadeInRight social_personal animated" style="visibility: visible; animation-name: fadeInRight;">
                        <div>
                            
                            <b>Ph.D., University of Hyderabad</b>
                            <br>
                            
                            
                            <a class="p-3" href="https://www.iiit.ac.in/~vv/Home.html" rel="nofollow" target="_blank" title="Personal website"><i class="fa fa-globe" title="Personal website"></i></a>
                            
                            
                            <a class="p-3" href="mailto:vv@iiit.ac.in" title="Email"><i class="fa fa-envelope-o" title="Email"></i></a>
                            
                            
                            <a href="tel:+914066531000;ext=1179" title="Telephone"><i class="fa fa-phone" title="Telephone"></i></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>