<div class="container">
    <h1>Downloads/Useful Links</h1>
    <div class="card p-3">
        <table class="table">
            <thead>
            <tr>
            <th>Content</th>
            <th>Link</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>List of ACM Turing Award Lectures</td>
            <td><a href="http://dblp.uni-trier.de/db/journals/cacm/turing.html">Visit</a></td>
            </tr>
            <tr>
            <td>ICSE's Most Influential Papers</td>
            <td><a href="http://www.sigsoft.org/awards/mostInfPapAwd.htm">Visit</a></td>
            </tr>
            <tr>
            <td>Software Engineering Readings</td>
            <td><a href="http://people.engr.ncsu.edu/txie/sereading.htm">Visit</a></td>
            </tr>
            <tr>
            <td>PhD Dissertations in the Area of Software Engineering (SIGSOFT)</td>
            <td><a href="http://www.sigsoft.org/phdDissertations/">Visit</a></td>
            </tr>
            <tr>
            <td>Good conferences and journals listed by Tao Xie</td>
            <td><a href="http://www.cs.illinois.edu/homes/taoxie/sereading.htm">Visit</a></td>
            </tr>
            <tr>
            <td>Other Software Engineering Research Centers</td>
            <td><a href="http://www.cs.wm.edu/semeru/index.html">Visit</a></td>
            </tr>
            <tr>
            <td>Microstack (Openstack) Ussuri Configuration Document</td>
            <td><a href="https://github.com/SIREN-DST/Crawling-Engines/blob/master/Microstack(Openstack)_Configuration.pdf">Visit</a></td>
            </tr>
            </tbody>
            </table>
    </div>
</div>