<div class="container card mt-3">
    <div class="card-header">
        <h2>Ramesh Loganathan</h2>
    </div>
    <div class="card-body">
        <div class="">
            <img src="https://serc.iiit.ac.in/static/images/people/Ramesh.jpg" alt="" >
            <h3>About</h3>
            <hr>
            <p>After 25 years in the product R&amp;D space, on Dec 2015, moved full-time into academics. As Professor Co-Innovation, heading the Research/Innovation outreach at IIIT Hyderabad. helping start and grow the Technology Transfer Office, Co-Innovation (corp) labs, Entrepreneur On Residence program and the Centre for Innovation &amp; Entrepreneurship. Have been adjunct faculty (middleware systems) at IIIT-H since 2002, visiting faculty at IIT Hyderabad (Innovation), member of governing board of incubators at IIIT-H, IIT and BITS. </p>
            
            <p>Until recently, Center Head (&amp; Vice President- Products), Progress Software's Hyderabad labs, responsible for leading the product development at the Hyderabad Development centre. As Center Head,  Built a formidable product engineering group that now owns half of the engineering in the company. And is widely seen as a very Innovation centred engineering group (won national awards). Prior to taking the above position, was VP of Middleware Technologies at Pramati, heading Product Engineering. </p>
            
            <p>An accomplished Technologist, with over 20 years of product engineering and R&amp;D leadership experience. Regularly speak at tech workshops and seminars in India.  Recently co-authored a book on ‘SOA approach to Integration’, published by Packt Publishers. Member of several Standards Expert groups including J2EE 1.3. Active in Product/Startup circles.</p>
            
            <p>Was Chair of ACM Hyderabad Chapter 2012-14. Active in industry organizations. most recently was President of HYSEA (Hyderabad Software Industry Association) and  Regional council member at Nasscom. One of the  Founders of Headstart Network (StartupSaturday).</p>
            <hr class="small_margins">
            
            
            <h3>Research Interests</h3>
            <ul>
                <li>Innovation and Processes for Applied Research</li>
            </ul>
            <hr class="small_margins">
            
        </div>
        <div class="grid_3">
            <div class="row">
                <div class="grid_3 wow fadeInRight image_personal animated" style="visibility: visible; animation-name: fadeInRight;"></div>
                <div class="grid_3 wow fadeInRight social_personal animated" style="visibility: visible; animation-name: fadeInRight;">
                    <div>
                        
                        <b>ME, Guindy College of Engineering</b>
                        <br>
                        
                        
                        <a class="p-3" href="https://www.iiit.ac.in/people/faculty/ramesh.loganathan/" rel="nofollow" target="_blank" title="Personal website"><i class="fa fa-globe" title="Personal website"></i></a>
                        
                        
                        <a class="p-3" href="mailto:ramesh.loganathan@iiit.ac.in" title="Email"><i class="fa fa-envelope-o" title="Email"></i></a>
                        
                        
                        <a class="p-3" href="tel:+91-9849042997" title="Telephone"><i class="fa fa-phone" title="Telephone"></i></a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>