<div class="container card p-3 mt-3">
    <div class="card-header">
        <h2>Kesav V. Nori</h2>
    </div>
    <div class="card-body">
        <div class="grid_9 personal_page">
            
            <h3>About</h3>
            <hr>
            <p>Professor Kesav Vithal Nori is executive Director and executive Vice President of Tata Consultancy Services (TCS) and is one of the pioneers of TCS's computer-based adult literacy programme which has been successful all over India and in South Africa. Nori has a distinguished career that has alternated between academics and industrial research within TCS. Previously, Nori was with the Tata Research Development and Design Centre (TRDDC), the R&amp;D wing of TCS. Nori received his MTech from IIT Kanpur where he continued to work as a senior research associate from 1968 to 1970. Nori then became a research scientist at the Computer Group in the Tata Institute of Fundamental Research (TIFR). He then returned to teach at IIT Kanpur. In addition, Nori was Visiting Faculty at Carnegie Mellon University (CMU) in Pittsburgh, USA and finally returned to TRDDC and TCS.</p>
            <hr class="small_margins">
            
            
            <h3>Research Interests</h3>
            <ul>
                <li>Computer Science Education</li>
                <li>Software Archtiecture</li>
                <li>Compilers</li>
                <li>Technology for Education</li>
            </ul>
            <hr class="small_margins">
            
        </div>
        <div class="grid_3">
            <div class="row">
                <div class="grid_3 wow fadeInRight image_personal animated" style="visibility: visible; animation-name: fadeInRight;"><img src="/static/images/people/nori.jpg" alt=""></div>
                <div class="grid_3 wow fadeInRight social_personal animated" style="visibility: visible; animation-name: fadeInRight;">
                    <div>
                        
                        <b>M.Tech., Indian Institute of Technology, Kanpur</b>
                        <br>
                        
                        
                        <a class="p-3" href="https://www.linkedin.com/in/kesav-vithal-nori-069758b" rel="nofollow" target="_blank" title="Personal website"><i class="fa fa-globe" title="Personal website"></i></a>
                        
                        <a href="mailto:kesav.nori@gmail.com" title="Email"><i class="fa fa-envelope-o" title="Email"></i></a>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>