<div class="container">
        
        <h1>Faculty</h1>
        <hr>
        <h2>Full Time</h2>
        <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            <app-people-card *ngFor="let fact of faculties" [f]="fact"></app-people-card>
        </div>
        <hr>
        <h2>Distinguished/Adjunct/Visiting</h2>
        <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            <app-people-card *ngFor="let fact of dfaculties" [f]="fact"></app-people-card>
        </div>
</div>